<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.AttributeMapper">

    <!-- int insert(Album album); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute (
            name, description, sort
        ) VALUES (
            #{name}, #{description}, #{sort}
        )
    </insert>

    <!-- int insertBatch(List<Album> albumList); -->
    <!-- INSERT INTO pms_album (xx,xx,xx) VALUES (xx,xx,xx), (xx,xx,xx), (xx,xx,xx) -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute (
            name, description, sort
        ) VALUES
            <foreach collection="list" item="album" separator=",">
                (#{album.name}, #{album.description}, #{album.sort})
            </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE FROM pms_attribute WHERE id=#{id}
    </delete>

    <!-- int deleteByIds(Long[] ids); -->
    <!-- DELETE FROM pms_album WHERE id IN (1,2,3) -->
    <delete id="deleteByIds">
        DELETE FROM pms_attribute WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- int update(Album album); -->
    <update id="update">
        UPDATE
        pms_attribute
        <set>
            <if test="name != null">
                name =#{name},
            </if>
            <if test="description != null">
                description =#{name},
            </if>
            <if test="sort != null">
                sort =#{name},
            </if>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*) FROM pms_attribute
    </select>

    <!-- countByTemplateId(Long templateId); -->
    <select id="countByTemplateId" resultType="int">
        SELECT count(*) FROM pms_attribute
        WHERE template_id=#{templateId}
    </select>

    <!-- countByNameAndTemplate(@Param("name") String name, @Param("templateId") Long templateId); -->
    <select id="countByNameAndTemplate" resultType="int">
        SELECT count(*) FROM pms_attribute
        WHERE name=#{name}
          AND template_id=#{templateId}
    </select>

    <!-- countByNameAndTemplateAndNotId; -->
    <select id="countByNameAndTemplateAndNotId" resultType="int">
        SELECT count(*) FROM pms_attribute
        WHERE name=#{name}
          AND template_id=#{templateId}
          AND id!=#{id}
    </select>

    <!-- AlbumStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultType="cn.tedu.csmall.product.pojo.vo.AlbumStandardVO">
        SELECT
            id, name, description, sort, gmt_create, gmt_modified
        FROM
            pms_attribute
        WHERE
            id=#{id}
    </select>

    <!-- List<AlbumListItemVO> list(); -->
    <select id="list" resultType="cn.tedu.csmall.product.pojo.vo.AlbumListItemVO">
        SELECT
            id, name, description, sort
        FROM
            pms_attribute
        ORDER BY
            sort DESC, id DESC
    </select>



</mapper>